
        body {

            padding: 0px;
            margin: 0px;
            font-family: 'Bai Jamjuree', sans-serif;
        }

        
        /* Balinder style  */

        .container{
            width:calc(100% - 20%);
            margin:auto;
        }

        .button{
            background:#000;
            padding: 20px 40px;
            border-radius: 30px;
            color: #fff;
            font-family: 'Courier New', Courier, monospace;
            border: 0px;
        }
   